.exercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
  height: 3.5rem;
  width: 100%;
}

.box-padding {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  padding-bottom: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0 10px 20px,
    rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.sign-up-container {
  font-family: "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 22rem;
  min-width: 21rem;
  border-radius: 0.5rem;
  position: fixed;
}

.hidden-wrapper {
  display: flex;
}

@media screen and (min-width: 768px) {
  .box-padding {
    width: 40%;
  }

  .hidden-wrapper-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hidden-wrapper {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sign-up-container {
    top: 0;
  }
}
