.exercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
  height: 3.5rem;
  width: 100%;
}

.box-padding {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .box-padding {
    width: 40%;
  }
}
