.hidden {
  display: none;
}

.start-text {
  padding-top: 1rem;
  text-align: center;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
}

.exercises-button {
  font-family: "Lucida Grande", sans-serif;
  height: 2.5rem;
  width: 17rem;
}

.exercises-button-container {
  text-align: center;
}

.save-button-container {
  text-align: center;
  padding-bottom: 1rem;
}

.exercise-padding {
  padding: 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.exercise-name {
  margin: 0;
  font-size: 1.3rem;
}

.exercise-name-input {
  width: 16.5rem;
}

.col-full {
  flex-basis: 100%;
}

.row {
  display: flex;
}

.header-container {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-container {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
}

.reps-padding {
  margin-left: 1.6rem;
}

.weight-padding {
  margin-right: 3.25rem;
  margin-left: 1rem;
}

.icon-padding {
  margin-right: 3rem;
}

.sets-padding {
  margin-left: 1.25rem;
}

.number-input {
  width: 3.25rem;
  background-color: #d9d9d9;
  border: none;
  text-align: center;
}

.add-set-container {
  padding-top: 0.25rem;
}

.add-set-button {
  width: 17.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #d9d9d9;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
  transition: 0.25s;
}

.add-set-button:hover {
  background-color: #0d6efd;
  color: white;
}

.select-tag {
  border: none;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
  width: 3.25rem;
  text-align: center;
}

.dark-background {
  background: rgb(0 0 0 / 75%);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal-container {
  width: 20rem;
  height: 10rem;
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.centering-div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-modal-text {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
}

.modal-cancel-button {
  border-radius: 0.25rem;
  height: 2rem;
  width: 6rem;
  border: none;
  color: white;
  background-color: red;
  transition: 0.3s;
}

.modal-confirm-button {
  border-radius: 0.25rem;
  height: 2rem;
  width: 6rem;
  border: none;
  color: white;
  background-color: #0d6efd;
  transition: 0.3s;
}

.modal-confirm-button:hover,
.modal-cancel-button:hover {
  background-color: #fff;
  border: 0.5px solid black;
  color: black;
}
