.start-text {
  padding-top: 1rem;
  text-align: center;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
}

.start-button {
  font-family: "Lucida Grande", sans-serif;
  height: 2.5rem;
  width: 17rem;
}

.start-button-container {
  text-align: center;
}

.exercise-padding {
  padding: 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.exercise-name {
  margin: 0;
  font-size: 1.3rem;
}

.exercise-name-input {
  width: 16.5rem;
}

.col-full {
  flex-basis: 100%;
}

.row {
  display: flex;
}

.header-container {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-container {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
}

.reps-padding {
  margin-left: 1.6rem;
}

.weight-padding {
  margin-right: 3.25rem;
  margin-left: 1rem;
}

.icon-padding {
  margin-right: 3rem;
}

.sets-padding {
  margin-left: 1.25rem;
}

.number-input {
  width: 3.25rem;
  background-color: #d9d9d9;
  border: none;
  text-align: center;
}

.add-set-container {
  padding-top: 0.25rem;
}

.add-set-button {
  width: 17.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #d9d9d9;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bolder;
  transition: 0.25s;
}

.add-set-button:hover {
  background-color: #0d6efd;
  color: white;
}
